@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');
/*properties for the entire html*/
html, body {
  width: auto;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: titillium Web, sans-serif;
background-image: linear-gradient(#4bcffa, #575fcf);
}
/*nav for all pages*/
.nav ul {
  list-style: none;
  background-color: #1e90ff;
  text-align: center;
  padding: 0px;
  margin: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 50px;
  border-bottom: 1px solid #888;
  padding: 10px 0;
}
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
  font-family: 'Titillium Web', sans-serif;
  font-size: 24px;
}
.nav a:hover {
  background-color: #f39c12;
}
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
/*no idea what this is*/
@media screen and (min-width: 600px) {
.nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
 }
 /*different display for navbar*/
.nav li {
    display: inline-block;
    margin-right: -4px;
}
/*sticky property for navbar (doesn't work)*/
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .body {
  padding-top: 60px;
}
/*main body*/
.body {
margin: 0;
padding: 16px;
width: auto;
height: auto;
}
.body h1 {
  font-size: 88px;
  text-align: left;
  cursor: url('cursor.png'), auto;
}
.body p {
  font-size: 18px;
  cursor: url('cursor.png'), auto;
}
.body img {
  float: left;
  cursor: url('stary.png'), auto;
}
.body a {
  text-decoration: none;
  color: orange;
  transition: color 0.3s;
  cursor: url('cursor.png'), auto;
}
.body a:hover {
  text-decoration: none;
  color: black;
  transition: color 0.3s;
  cursor: url('cursor.png'), auto;
}	
.can a {
  font-size: 24px;
  text-decoration: none;
  color: orange;
  transition: 0.3s;
  cursor: url('cursor.png'), auto;
}
.can a:hover {
  font-size: 36px;
  text-decoration: none;
  color: black;
  transition: 0.3s;
  cursor: url('cursor.png'), auto;
}
/*style for the games page (finally)*/
.games a {
	color: white;
	font-size: 18px;
	transition: 0.3s;
	text-decoration: none;	
}
.games {

}
.games a:hover {
	color: orange;
	font-size: 18px;
	transition: 0.3s
	text-decoration: none;
}
.games ul {
	color: white;
	column-count: 3;
	list-style: none;
}
.games h1 {
font-color: white;
}
